!!!
%html
  %head
    %title Zack's Apicurious
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous"}
    = javascript_include_tag 'application'
  %body
    = render partial: 'shared/nav_bar'
    - flash.each do |type, message|
      .alert.text-center{class: "alert-#{type}"}
        %button.close{"data-dismiss": "alert", type: "button"} x
        %strong
          = message
    =yield
